PORT=
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
SNIPPET_PERMISSION_URL=
SNIPPET_RUNNER_URL=
BUCKET_URL=
UI_URL=

AUTH0_ISSUER_URI=
AUTH0_AUDIENCE=

AUTH0_MANAGEMENT_CLIENT_ID=
AUTH0_MANAGEMENT_CLIENT_SECRET=
AUTH0_MANAGEMENT_AUDIENCE=
AUTH0_MANAGEMENT_TOKEN=

NEW_RELIC_LICENSE_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_STREAM_REQUEST_LINT_KEY=
REDIS_STREAM_RESULT_LINT_KEY=
REDIS_GROUP_LINT_KEY=

ENVIRONMENT_FILE_PATH=
